.video-bar {
  text-align: center;
  margin: 20px 0;
  width: 100%; /* Ensures the bar takes full width */
}

.video-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.video-row {
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: nowrap;
}

.video-item {
  flex: 0 0 auto;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  margin: 0 5px;
}

.video-thumbnail {
  width: 100%;
  object-fit: cover; /* Ensures the aspect ratio is maintained */
  border-radius: 5px;
  margin-bottom: 5px;
}

/* Hover Effect */
.video-item:hover .video-thumbnail {
  transform: scale(1.1);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.video-title {
  font-size: 14px;
  color: #fff;
}

/* Media Queries for Responsiveness */
@media (max-width: 599px) {
  .video-item {
    width: 100; /* Smaller width for small screens */
  }

  .video-thumbnail {
    height: 100px; /* Smaller height for small screens */
  }
}

@media (min-width: 600px) and (max-width: 799px) {
  .video-item {
    width: 100px; /* Medium width for medium screens */
  }

  .video-thumbnail {
    height: 100px; /* Medium height for medium screens */
  }
}

@media (min-width: 800px) and (max-width: 1199px) {
  .video-item {
    width: 100px; /* Larger width for large screens */
  }

  .video-thumbnail {
    height: 200px; /* Larger height for large screens */
  }
}

@media (min-width: 1200px) {
  .video-item {
    width: 200px; /* Largest width for extra large screens */
  }

  .video-thumbnail {
    height: 200px; /* Largest height for extra large screens */
  }
}
