.footer {
    background-color: #000;
    color: #fff;
    text-align: center; /* Centers the text horizontally */
    padding: 20px;
    bottom: 0;
    width: 100%;
    display: flex; /* Use flexbox for centering */
    justify-content: center; /* Centers content horizontally */
    align-items: center; /* Centers content vertically */
  }
  
  .footer p {
    margin: 0;
  }
  